---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<div class="list__item">
  <ul style="list-style-type: disc; padding-left: 20px;">
    {% for post in site.publications reversed %}
      <li style="margin-bottom: 15px;">
        <span style="font-weight: bold; color: #2980b9;">{{ post.title }}</span><br>
        
        <span style="font-size: 0.95em;">Published in <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</span><br>
        
        <span style="font-size: 0.9em; color: #555;">
          {{ post.citation }}
          {% if post.paperurl %}
            <a href="{{ post.paperurl }}" target="_blank" style="margin-left: 10px; color: #e74c3c; font-weight: bold;">[PDF]</a>
          {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>
</div>
